# Why snippets matter for data scince

It helps to stramline processes created and habit of loading code that are helpful in different situatiions from loading csv files to visualizing data.

## 1. Loading Multiple files

In [5]:
import glob
import pandas as pd 
#csv_files = glob.glob('path/to/folder/with/csvs/*.csv')
csv_files = glob.glob('D:\Study\python\Optimize Data Pipelines\*.csv')
# dfs = [pd.read_csv(filename) for filename in csv_files]
dfs = [pd.read_csv(filename) for filename in csv_files]

In [11]:
type(dfs)

list

In [13]:
dfs[1]

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [14]:
dfs[0]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## 2. Getting unique values froam a column table

In [30]:
import pandas as pd
# df = pd.read_csv('path/to/folder/with/csvs/*.csv')
df = pd.read_csv('auto-mpg.csv')
# df['Item_Identifier'].unique()
var = 'cylinders'
print('Unique '+ var +':',df[var].unique()) # Values
print('Count of unique '+ var+':',df[var].nunique() )# count

Unique cylinders: [8 4 6 3 5]
Count of unique cylinders: 5

## 3. Display pandas dataframes side by side

In [36]:
from IPython.display import display_html
from itertools import chain, cycle

def side_by_side(*args, titles=cycle([''])):
    # source: https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side
    html_str=''
    for df, title in zip(args, chain(titles,cycle(['</br>']))):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+="<br>"
        html_str+=f'<h2>{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)
df1 = pd.read_csv("cancer.csv")
df1= df1.iloc[:,:5]
df2 = pd.read_csv("heart.csv")
df2= df2.iloc[:,:5]
display_side_by_side(df1.head(),df2.head(), titles=['Cancer Data','Heart Data'])
### Output)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean
0,842302,M,17.99,10.38,122.80
1,842517,M,20.57,17.77,132.90
2,84300903,M,19.69,21.25,130.00
3,84348301,M,11.42,20.38,77.58
4,84358402,M,20.29,14.34,135.10
,age,sex,cp,trestbps,chol
0,63,1,3,145,233
1,37,1,2,130,250
2,41,0,1,130,204
3,56,1,1,120,236
4,57,0,0,120,354

## 4. Remove NAN from the dataframe

In [38]:
df = pd.DataFrame(dict(a=[1,2,3,None]))
df
df1=df.dropna()
display_side_by_side(df.head(),df1.head(), titles=['NA Data','Without NA Data'])

,a
0,1.0
1,2.0
2,3.0
3,NaN
,a
0,1.0
1,2.0
2,3.0